@import "tailwindcss";

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #121314;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #2a2a2d;
  border-radius: 4px;
  border: 2px solid #121314;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #3b3b3f;
}


.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2d #121314;
}



